

/*=============form, btn 윤곽===============*/
.form-control, .btn{
    border-radius: 0;
  }

/*======================header=====================*/

  section {margin-top: 50px;}

  .my-header{
    background-color: #263238;
    position: fixed; /*boby기준으로 헤더 고정*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50; /*z축으로 50*/
  }
  .my-header a {color: white; font-size: 15px;}

  .my-header a img {
      width: 30px;
      height: 30px; 
      line-height: 30px;
      
  }
  .navbar {margin-bottom: 0;}
  .navbar-brand{padding: 10px 20px;}

  /* 가상선택자 */
  .nav>li>a:focus, .nav>li>a:hover {
    background-color: #304047;
  }

  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #304047;

  }
  .navbar-toggle{
    border-color: white;
  }
  .navbar-toggle .icon-bar {
    background-color: white;
  }


  /* =====================footer==================== */
  footer {
    background-color: #263238; 
    color: white;
    font-size: 15px;
    padding: 40px 0; /*위아래 40 좌우 0*/
    margin-top: 70px; /* footer 바깥 여백 70, 본문영역과 붙지 않도록*/
  }

  footer .footer-copyright address{margin-bottom: 0;}
  footer .footer-menu {text-align: right;} /* 부트스트랩 text-right로 대체 가능*/


  footer .footer-menu li{
    display: inline-block;
    padding: 0 10px;
  }
  footer .footer-menu li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
  }


  /*==================배너영역====================*/

  .my-banner {position: relative;}
  /* 암명 넣는 방법 */
  .carousel-control.right,
  .carousel-control.left{
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
  }
/* background-image: none도 가능*/



/*===========상품이미지 등록(index) =============*/


.prod-list, .prod-box{
    display: block; /* 블럭요소변경*/
    border: 1px solid #ddd;
    text-align: center; /*블럭이나 text 가운데 정렬*/
  }
  .prod-list,
  .prod-list > li{
    padding: 5px;
  }

  .prod-box{
    position: relative;
  }

  .prod-box .arrow{ /*높이 넓이를 사용하기 위해 블럭 지정*/
    display: block;
    width:35px;
    height: 35px;
    line-height: 35px;
    position: absolute;/*위치기반으로 올릴 부모클래스에 relative*/
    bottom: 20px;
    left: 20px;
    background-color: gray;
    color: white;
    opacity: 1;
    
  }

  .prod-box .hover{
    display: block;
    width: 80px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #0000ee;
    color: white;
    opacity: 0; /* 투명도 0~1*/
    
  }
  /*  */
  /*hover기능시 arrow의 투명도 변경*/
  .prod-box:hover > .arrow{
    opacity: 0;

  }
  .prod-box:hover > .hover{
    opacity: 1;
  }

  .prod-box:hover{
    border: 1px solid #0000ee;
  }


/* ====================상품 그리드 (나이키)=======================*/
  .prod-img {text-align: center;}
         .prod-content{ /*부모영역*/
             overflow: hidden; 
             padding: 20px 0;
             font-size: 20px;
            }

         .prod-info{
            float: left;
         }

         .prod-info span{
             display: block;
         }

         .prod-price{
            float: right;
         }
         /* 숨겨놓은 영역 */
         
         .prod-color ul{
             overflow: hidden;
            }
            
            .prod-color ul li{
                float: left;
            }
            
            .prod-color{/*숨겨놓은 영역*/
                margin-top: -36px; /*마이너스는 반대*/
                opacity: 0;
                transition: opacity 0.5s ease-in-out; /*transition(애니메이션 변경할옵션, 추가, 변경속도, 딜레이 초)*/
            }
            

         .prod-list2:hover > .prod-color{ /*호버시 숨겨놓은 영역의 투명도*/
             opacity: 1;    
         }

         .text-center{overflow: hidden;}
         .text-center ul{margin: 0;}
         .text-center button{float: right; padding: 4px 12px;}


         /*========================================================*/


         .detail-info .title {
          font-size: 25px;
        }
  
        .detail-info .price {
          font-size: 30px;
          /* hr태그가 아닌 bottom에 solid를 채워준다 */
          border-top: 1px solid #777;
          border-bottom: 1px solid #777;
          padding: 10px 0;
        }
  
        .detail-info .content {
          color: gray;
        }
  
        /* 부모영역 */
        .detail-control .price,
        .detail-control .order {
          overflow: hidden;
        }
  
        .detail-control .left {
          float: left;
  
        }
  
        .detail-control .right {
          float: right;
  
        }
  
        /*=== 글씨조정 ===*/
        .detail-control .price .left {
          font-size: 20px;
          /* 글씨를 가운데로 보내주기 */
          line-height: 52px;
          margin: 0;
        }
  
        .detail-control .price .right {
          font-size: 30px;
          /* 글씨를 가운데로 보내주기 */
          line-height: 52px;
          margin: 0;
        }
  



        /*버튼영역*/
        .detail-control
  





        /*댓글영역*/
  
        .reply-group input {width: 180px; margin-bottom: 10px;}
  
        .reply-wrap{
          background-color: #f5f5f5;
          border: 1px solid #ddd;
          padding: 20px;
          position: relative; /*부모영역*/
        }
  
        .reply-img{position: absolute; top: 20px; left: 20px;} /*이미지 포지션*/
        .reply-content{padding-left: 50px;}
        .reply-group {
          overflow: hidden;
        }
        .reply-group .left{
          float: left; 
        }
        
        .reply-group .right{
          float: right;
        }
  
        /* .reply-group .left input{
          height: 25px;
        } */
      
        .reply-content textarea{
          margin-bottom: 5px;
        }
  
        /*텍스트영역 리사이징 옵션, 애니메이션*/
        .reply-content textarea{
          resize: vertical;
          height: 100px; /*높이*/
          transition: height 0.5s ease-in-out; /*애니메이션효과 1)변경 속성, 속도, 효과*/
        }
  
        .reply-content textarea:focus{
          height: 200px;
  
        }
  
        /*댓글 코멘트 영역 - 위 클래스를 재황용*/
        .reply-group a{text-decoration: none; color: black;}
        .reply-group a{margin: 0;}



        /* ================== 회원 가입 ================= */

        /*col때문에 크기는 잡혀있음*/
        .title-box{
          width: 250px;
          margin: 60px auto; /*박스 정렬*/
          text-align: center; /*글씨 정렬*/
          padding: 20px 40px;
          border-bottom: 1px  solid #E1E1E1;
          border-top: 1px solid #E1E1E1;
      }

      .join-form{
          /*하나의 그리드 상자를 정가운데 정렬방법*/
        
          margin: 0 auto; /*가운데 정렬이 안되는이유가 col관련된 클래스 float을 가지고 있기 때문에*/
          float: none; /*float 적용을 쓰지 않음*/

          
      }

      .join-form form {
          border: 1px solid #777;
          border-radius: 10px;
          box-shadow: -5px -10px 5px 20px rgb(0, 0, 0, 0.355); /*박스의 그림자 (가로, 세로, 흐릿정도, 색상)*/
          padding: 50px;
      }

      @media (max-width: 767px) { /* 767미만일 때 적용(col-xs가 동작하는 픽셀과 같음)*/
          .join-form form{
              padding: 50px 10px;
          }

      }



    /* =================로그================= */

      .title-box{
        width: 250px;
        margin: 40px auto;
        text-align: center;
        font-size: 50px;
    }

    .login-form {
        margin: 0px auto;
        float: none;

        width: 600px;
    }


    .login-form form{
        border: 1px solid#777;
        box-shadow: 5px 8px 16px rgb(0, 0, 0, 0.355);
        padding: 10px;

    }

    @media (max-width: 767px) { /* 767미만일 때 적용(col-xs가 동작하는 픽셀과 같음)*/
      .join-form form{
          padding: 50px 10px;
      }

  }
  
      
  



  

  



